body {
    height: 100%;
    background-color: white;
    font: 10pt Inter, Arial, Helvetica, sans-serif;
}


/*
#maps {
    background-color: lightgrey;
}
*/

#header {
    margin: auto;
    height: 30px;
    padding: auto;
    padding-right: 1%;
    line-height: 20px;
    font-size: 14pt;
    color: #fff;
    background-color: #332107;
    text-align: right;
}

.changemap {
    text-decoration: underline dotted black;
}

.fa.fa-arrow-left {
    color: black
}

.fa.fa-arrow-left:hover {
    color: gray;
}

.fa.fa-arrow-right {
    color: black
}

.fa.fa-arrow-right:hover {
    color: gray;
}

#map {
    height: 95vh;
    /**width: 50%;**/
}

#map2 {
    height: 95vh;
    display: none;
    /**width: 50%;**/
}